body {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  background-color: #FFFCFF;
}

button {
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  border: none;
  border-color: #d36c6c;
  outline: none;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  fill:#d36c6c;
}

#backButton, #nextButton {
  width: 3em;
  height: 3em;
  background-color: transparent;
}

#backButton svg, #nextButton svg {
  fill: #d36c6c;
}

#header {
  padding: 10px;
  margin: 20px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-evenly;
}

#yearDisplay {
  margin-right: 15px;
}

#yearMenu {
  display: flex;
  align-items: center;
  justify-content: center;

}

#topNav {
  display: flex;
  justify-content: center;
}

#topNavMenu {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay { 
  height: 0;
  width: 100%;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(255,255,255, 1.0); 
  overflow-x: hidden;
  transition: 0.5s;
}

select {
  width: 3em;
  font-size: 26px;
  background-color: #d36c6c;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
} 

#yearContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#weekdays {
  width: 33%;
  display: flex;
  color: #247BA0;
}

.day {
  width: calc(100% / 7);
  height: 50px !important;
  padding: 5px;
  block-size: auto;
  box-sizing: border-box;
  background-color: white;
  display: flex;
}

.day + #currentDay {
  border-style: solid;
  border-radius: 5px;
  border-color: #d36c6c;
}

.month {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 3px #CBD4C2;
}

.monthName {
  padding: 10px;
  color: #d36c6c;
  font-size: 18px;
  font-family: sans-serif;
  display: flex;
}

.weekdayContainer {
  height: 20px;
  block-size: auto;
  border-bottom-style: solid;
  margin-bottom: 10px;
  border-color: black;
  font-family: sans-serif;
  font-size: 12px;
  display: flex;
  
}

.calContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.kwColumn {
  width: 12%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  
}

.kw {
  cursor: default !important;
  height: 40px;
  margin: 5px;
  box-sizing: border-box;
  color: #d36c6c;
  font-family: sans-serif;
  font-size: 12px;
  background-color: #FFFCFF;
  display: flex;
  justify-content: space-between;
}

.calendar {
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

.holiday {
  position: relative;
  display: flex;
  background-color: #dfe6d9;
  border-radius: 5px;
}

.holidayDropdown {
  display: none;
  color: #000;
  margin-top: 50px;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  overflow: auto;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: right;
}

.holiday .dayNumber {
  position: absolute;
  left: 5px;
}

.show {
  display:block;
}

@media screen and (min-width: 600px) {
  .month {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .month {
    width: 33%;
  }
}
